body {background: #6C301D;}
h1 {color: white;}
h2 {color: white;}
h3 {color: white;}
h4 {color: white;}
h6 {color: white;}
p {color: #DDAA9A;}
h5 {color: white;}
ul {color: #DDAA9A;}
img {width: 1000px;}
#cat {width: 300px;}
#choclatePNG {width: 1200px;}
.Brown{color: #7A3722;}
.Link{color: #FFA6A6;}
